<html ng-app="heliosApp">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"> <!-- our main css file-->
    
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}"> <!-- files for angular, bootstrap et co.-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs_1.5.6.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs_animate_1.5.6.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs_touch_1.5.6.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/controllers.js') }}"></script> <!--  our AngularJS controllers -->

</head>

    <body ng-controller="homeController">
    
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">Helios Access Control</a>
            </div>
            <ul class="nav navbar-nav">
				{% set navigation_bar = [
				('/', 'index', 'Home'),
				('/user_management', 'user_management', 'Client Access Management'),
                ('/display_last_scanned_cards', 'display_last_scanned_cards', 'List Last Read RFID Cards')
				] -%}
			
			
				{% set active_page = active_page|default('index') -%}
				
				
				{% for href, id, caption in navigation_bar %}
				<li{% if id == active_page %} class="active"{% endif
				%}><a href="{{ href|e }}">{{ caption|e }}</a>
				</li>
				{% endfor %}
				
              
            </ul>
          </div>    
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}

            {% for message in messages %}
                <ul class='alert alert-{{ message[0] }}'>
                {{ message[1] }}
                </ul>
            {% endfor %}
            
          {% endif %}
        {% endwith %}


        {% block content %}

		{% endblock %}       
    </body>
</html>